<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MageWorx\Info\Block\Adminhtml\SystemInfo">
        <arguments>
            <argument name="sectionPool" xsi:type="array">
                <item name="php_section" xsi:type="object">MageWorx\Info\Block\Adminhtml\SystemInfo\Section\PhpSection</item>
                <item name="magento_section" xsi:type="object">MageWorx\Info\Block\Adminhtml\SystemInfo\Section\MagentoSection</item>
            </argument>
        </arguments>
    </type>
</config>
