<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MageWorx\SocialProofBase\Controller\Adminhtml\Campaign\MassDelete">
        <arguments>
            <argument name="successMessage" xsi:type="string" translate="true">A total of %1 Campaigns have been deleted.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while deleting Campaigns.</argument>
        </arguments>
    </type>
    <type name="MageWorx\SocialProofBase\Controller\Adminhtml\Campaign\MassEnable">
        <arguments>
            <argument name="successMessage" xsi:type="string" translate="true">A total of %1 Campaigns have been enabled.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while enabling Campaigns.</argument>
        </arguments>
    </type>
    <type name="MageWorx\SocialProofBase\Controller\Adminhtml\Campaign\MassDisable">
        <arguments>
            <argument name="successMessage" xsi:type="string" translate="true">A total of %1 Campaigns have been disabled.</argument>
            <argument name="errorMessage" xsi:type="string" translate="true">An error occurred while disabling Campaigns.</argument>
        </arguments>
    </type>
    <virtualType name="MageWorx\SocialProofBase\Ui\DataProvider\Campaign\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="general" xsi:type="array">
                    <item name="class" xsi:type="string">MageWorx\SocialProofBase\Ui\DataProvider\Campaign\Form\Modifier\CampaignModifier</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MageWorx\SocialProofBase\Ui\DataProvider\Campaign\Form\CampaignDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">MageWorx\SocialProofBase\Ui\DataProvider\Campaign\Form\Modifier\Pool</argument>
        </arguments>
    </type>
</config>
