<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mageworx_reviewreminderbase_send_email_after">
        <observer name="mageworx_reviewreminderbase_email_logger" instance="MageWorx\ReviewReminderBase\Observer\LogEmailObserver" />
    </event>
</config>
