<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageWorx_ReviewAIBase::review_summary"
             title="Review Summaries"
             module="MageWorx_ReviewAIBase"
             sortOrder="30"
             parent="Magento_Backend::marketing_user_content"
             action="mageworx_reviewai/reviewsummary/index"
             resource="MageWorx_ReviewAIBase::review_summary_access"/>
    </menu>
</config>
