<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Walletsystem
 * @author    Webkul
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- overwrite cart customerdata to display wallet amount product in minicart -->
    <preference for="Magento\Checkout\CustomerData\Cart" type="Webkul\Walletsystem\Rewrite\CustomerData\Cart" />
    <!-- Overwrite quote item model to manage wallet product amount -->
    <preference for="Magento\Quote\Model\Quote\Item" type="Webkul\Walletsystem\Model\Quote\Item"/>
    <!-- repository -->
    <preference for="Webkul\Walletsystem\Api\WalletCreditRepositoryInterface" type="Webkul\Walletsystem\Model\CreditRepository" />

    <!-- Plugin to hide wallet amount product in admin -->
    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="Webkul_Walletsystem::arroundProductCollection" type="Webkul\Walletsystem\Model\Plugin\Product" sortOrder="1" />
    </type>
    <!-- plugin to manage wallet amount product amount when currency is changed -->
    <type name="Magento\Directory\Controller\Currency\SwitchAction">
        <plugin name="Webkul_Walletsystem::arroundCurrencySwitch" type="Webkul\Walletsystem\Controller\Plugin\Currency\SwitchAction" sortOrder="1" />
    </type>
    <!-- plugin to manage wallet amount product amount when store is changed -->
    <type name="Magento\Store\Controller\Store\SwitchAction">
        <plugin name="Webkul_Walletsystem::arroundStoreSwitch" type="Webkul\Walletsystem\Controller\Plugin\Store\SwitchAction" sortOrder="1" />
    </type>
    <!-- To manage credit memo amount by wallet if creadit memo is online -->
    <type name="Magento\Sales\Controller\Adminhtml\Order\Creditmemo\Save">
        <plugin name="Webkul_Walletsystem::beforeCreditMemoSave" type="Webkul\Walletsystem\Controller\Plugin\Order\Creditmemo\Save" sortOrder="1" />
    </type>
    <!-- plugin to manage wallet payment method for order total 0 -->
    <type name="Magento\Payment\Model\Checks\ZeroTotal">
        <plugin name="Webkul_Walletsystem::afterZeroTotal" type="Webkul\Walletsystem\Model\Plugin\Checks\ZeroTotal" sortOrder="1" />
    </type>
    <!-- plugin to manage exception when adding other product with wallet product -->
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="Webkul_Walletsystem::beforeAddtoCart" type="Webkul\Walletsystem\Model\Plugin\Cart" sortOrder="1" />
    </type>
    <type name="\Magento\Wishlist\Controller\Index\Cart">
        <plugin name="Webkul_Walletsystem::beforeAddtoCartFromWishlist" type="Webkul\Walletsystem\Model\Plugin\Wishlist" sortOrder="1" />
    </type>
     <preference for="\Magento\Wishlist\Controller\Index\Allcart" type="Webkul\Walletsystem\Model\Plugin\AllWishlist" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="waletsystem_wallet_details_data_source" xsi:type="string">Webkul\Walletsystem\Model\ResourceModel\Walletrecord\Grid\Collection</item>
                <item name="waletsystem_wallet_individual_details_data_source" xsi:type="string">Webkul\Walletsystem\Model\ResourceModel\Grid\Collection</item>
                <item name="waletsystem_wallet_bank_transfer_details_data_source" xsi:type="string">Webkul\Walletsystem\Model\ResourceModel\Grid\Collection</item>
                <item name="waletsystem_transfer_payeelist_data_source" xsi:type="string">Webkul\Walletsystem\Model\ResourceModel\WalletPayee\Grid\Collection</item>
                <item name="wallesystem_creditrules_data_source" xsi:type="string">Webkul\Walletsystem\Model\ResourceModel\Walletcreditrules\Grid\Collection</item>
                <item name="walletsystem_transfer_accountcustomerlist_data_source" xsi:type="string">Webkul\Walletsystem\Model\ResourceModel\AccountDetails\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Webkul\Walletsystem\Model\ResourceModel\Walletrecord\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">wk_ws_wallet_record</argument>
            <argument name="eventPrefix" xsi:type="string">walletsystem_walletrecord_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">walletrecord_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Webkul\Walletsystem\Model\ResourceModel\Walletrecord</argument>
        </arguments>
    </virtualType>
    <virtualType name="Webkul\Walletsystem\Model\ResourceModel\Wallettransaction\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">wk_ws_wallet_transaction</argument>
            <argument name="eventPrefix" xsi:type="string">wallet_transaction_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">wallettransaction_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Webkul\Walletsystem\Model\ResourceModel\Wallettransaction</argument>
        </arguments>
    </virtualType>
    <virtualType name="Webkul\Walletsystem\Model\ResourceModel\Walletcreditrules\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">wk_ws_credit_rules</argument>
            <argument name="eventPrefix" xsi:type="string">wallet_creditrules_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">walletcreditrules_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Webkul\Walletsystem\Model\ResourceModel\Walletcreditrules</argument>
        </arguments>
    </virtualType>
    <virtualType name="Webkul\Walletsystem\Model\ResourceModel\WalletPayee\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">wk_ws_wallet_payee</argument>
            <argument name="eventPrefix" xsi:type="string">wallet_WalletPayee_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">WalletPayee_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Webkul\Walletsystem\Model\ResourceModel\WalletPayee</argument>
        </arguments>
    </virtualType>
    <virtualType name="Webkul\Walletsystem\Model\ResourceModel\AccountDetails\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">wk_ws_wallet_account_details</argument>
            <argument name="eventPrefix" xsi:type="string">accountdetails_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">accountdetails_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Webkul\Walletsystem\Model\ResourceModel\AccountDetails</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Email\Model\Source\Variables">
        <plugin name="mageSetupEmailSourceVariables" type="Webkul\Walletsystem\Plugin\Email\Model\Source\Variables"/>
    </type>
    <!--for changing grand total at order -->
    <type name="\Magento\Sales\Model\Order">
        <plugin name="changeGetGrandTotalForOrder" type="\Webkul\Walletsystem\Plugin\Model\Order"/>
    </type> 
    <!--for changing method title at admin invoice -->
    <type name="\Magento\Sales\Model\Order\Payment">
        <plugin name="changeGetGrandTotalForOrder" type="\Webkul\Walletsystem\Plugin\Model\Order\Payment"/>
    </type>
    <!--changing the title of methods-->
    <type name="Magento\Payment\Model\Method\AbstractMethod">
        <plugin name="Webkul_Walletsystem::afterGetTitle" type="Webkul\Walletsystem\Plugin\Title"/>
    </type>
    <!--change title in admin order view page-->
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Tab\Info">
        <plugin name="Webkul_Walletsystem::afterGetPaymentHtml" type="Webkul\Walletsystem\Plugin\Adminhtml\Info"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Handler\State">
        <plugin name="Webkul_Walletsystem::afterCheck" type="Webkul\Walletsystem\Plugin\Model\Order\State"/>
    </type>
    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="Webkul_Walletsystem::beforeAdd" type="Webkul\Walletsystem\Plugin\Cart\Add"/>
    </type>
    <!-- command to disable module -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="disable_walletsystem" xsi:type="object">Webkul\Walletsystem\Console\Command\DisableWalletsystem</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Sales\Block\Adminhtml\Order\Creditmemo\Create\Items" type="Webkul\Walletsystem\Block\Adminhtml\Order\Creditmemo\Create\Items" />
    <preference for="Magento\Sales\Model\Order\Payment" type="Webkul\Walletsystem\Model\Order\Payment" />
    <!--set remaining amount for paypal-->
    <type name="Magento\Paypal\Model\Api\Nvp">
        <plugin name="Webkul_WalletSystem::beforeCall" type="Webkul\Walletsystem\Plugin\Paypal\Model\Api\Nvp"/>
    </type> 
</config>
