<?xml version="1.0"?>
<!--
    Copyright © MageWorx. All rights reserved.
    See LICENSE.txt for license details.
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MageWorx\OpenAI\Ui\DataProvider\Process\DataProvider">
        <arguments>
            <argument name="addFieldStrategies" xsi:type="array">
                <item name="processed_percent" xsi:type="object">MageWorx\OpenAI\Ui\DataProvider\Process\FieldStrategy\AddProcessedPercentFieldToCollection</item>
            </argument>
        </arguments>
    </type>
    <type name="MageWorx\OpenAI\Ui\DataProvider\Process\InnerView\DataProvider">
        <arguments>
            <argument name="addFieldStrategies" xsi:type="array">
                <item name="prepared_response" xsi:type="object">MageWorx\OpenAI\Ui\DataProvider\Process\InnerView\FieldStrategy\AddPreparedResponseFieldToCollection</item>
            </argument>
        </arguments>
    </type>
    <type name="MageWorx\OpenAI\Ui\DataProvider\Process\InnerView\QuickViewDataProvider">
        <arguments>
            <argument name="addFieldStrategies" xsi:type="array">
                <item name="prepared_response" xsi:type="object">MageWorx\OpenAI\Ui\DataProvider\Process\InnerView\FieldStrategy\AddPreparedResponseFieldToCollection</item>
            </argument>
        </arguments>
    </type>
</config>
