<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageants" translate="label" sortOrder="10" class="mageants_logo">
            <label>Mageants</label>
        </tab>

        <section id="mageants_extension" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Extension Information</label>
            <tab>mageants</tab>
            <resource>Mageants_ExtensionVersionInformation::config</resource>
            <group id="general_info" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Installed Extensions</label>
                <frontend_model>Mageants\ExtensionVersionInformation\Block\Adminhtml\Extensions</frontend_model>
            </group>
        </section>

    </system>
</config>