<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Backend\Block\Dashboard\Grids">
        <plugin name="mageworx_rewardpoints_add_dashboard_tab" type="MageWorx\RewardPoints\Model\Plugin\AddDashboardTabPlugin"/>
    </type>

</config>