<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_save_after">
        <observer name="mageworx_rewardpoints_manual_update_points_balance" instance="MageWorx\RewardPoints\Observer\PointsUpdate\ManualUpdatePointBalanceObserver" />
    </event>

    <event name="adminhtml_sales_order_creditmemo_register_before">
        <observer name="mageworx_rewardpoints_add_points_on_order_refund" instance="MageWorx\RewardPoints\Observer\AddRewardPointsToRefundObserver" />
    </event>

    <event name="adminhtml_sales_order_create_process_data">
        <observer name="mageworx_rewardpoints_add_fees_to_order" instance="MageWorx\RewardPoints\Observer\AddPointsTriggerToOrderAdminObserver" />
    </event>

    <event name="order_cancel_after">
        <observer name="mageworx_rewardpoints_restore_points_on_order_cancel" instance="MageWorx\RewardPoints\Observer\PointsRestore\CancelOrderObserver" />
    </event>

    <event name="catalog_entity_attribute_delete_after">
        <observer name="mageworx_rewardpoints_update_rule_on_attribute_delete" instance="MageWorx\RewardPoints\Observer\Rule\UpdateRuleAfterDeleteAttributeObserver" />
    </event>
    <event name="catalog_entity_attribute_save_after">
        <observer name="mageworx_rewardpoints_update_rule_on_attribute_update" instance="MageWorx\RewardPoints\Observer\Rule\UpdateRuleAfterSaveAttributeObserver" />
    </event>
</config>