<!--@subject Wallet Amount Credited by Admin  @-->
<!--@vars {
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name",
"var customername":"Customer Name",
"var walletamount":"Customer Wallet Amount",
"var walletnote":"Customer Wallet Note",
"var transaction_at":"Transaction At",
"var remainingamount":"Remaining Amount"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello %customername, " customername=$customername}}</p>
            <p>
                {{trans "%walletamount amount is credited by Admin in your wallet." walletamount=$walletamount}}
            </p>
            <p>
                {{trans "Admin added a note with this transaction"}}
            </p>
            <p>
                {{trans "%walletnote" walletnote=$walletnote}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <p>{{trans 'Transaction on <span class="no-link">%transaction_at</span>' transaction_at=$transaction_at |raw}}</p>
            <p>{{trans "Total remaining amount in wallet is %remainingamount" remainingamount=$remainingamount}}</p>
        </td>
    </tr>
    <tr>
    	<td>
        	<p>{{trans 'To check wallet amount and transaction details of your account by <a href="%account_url">logging into your account</a>.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
