<!--@subject wallet amount transferred to bank account @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name",
"var name":"Customer Name",
"var message|raw":"Customer Message"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello"}} {{var name}}</p>
            <p>
                {{var message|raw}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
