<!--@subject wallet amount transferred to bank account @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name",
"var customername":"Customer Name",
"var walletamount":"Currently added amount",
"var walletnote":"Wallet note",
"var transaction_at":"Amount added at",
"var remainingamount":"Toatl amount remained in customer account"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello Admin"}}</p>
            <p>
                {{trans " %customername have requested to transfer his wallet amount %walletamount in his bank account" customername=$customername walletamount=$walletamount}}
            </p>
            <p>
                {{trans "He have added a transaction note with the transaction"}}
            </p>
            <p>
                {{trans "%walletnote" walletnote=$walletnote}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <p>{{trans 'Added on <span class="no-link">%transaction_at</span>' transaction_at=$transaction_at |raw}}</p>
            <p>{{trans "Total remaining amount in his wallet %remainingamount" remainingamount=$remainingamount}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
