<!--@subject Wallet Recharge  @-->
<!--@vars {
"var this.getUrl($store,'customer/account/',[_nosid:1])":"Customer Account URL",
"var customername":"Customer name",
"var walletamount":"Currently added amount",
"var increment_id":"Order id used to add amount",
"var transaction_at":"Amount added at",
"var store":"store",
"var remainingamount":"Toatl amount remained in customer account"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello %customername, " customername=$customername}}</p>
            <p>
                {{trans "You recharged your wallet with %walletamount" walletamount=$walletamount}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <p>{{trans 'Your Order <span class="no-link">#%increment_id</span>' increment_id=$increment_id |raw}}</p>
            <p>{{trans 'Transaction on <span class="no-link">%transaction_at</span>' transaction_at=$transaction_at |raw}}</p>
            <p>{{trans "Total remaining amount in wallet is %remainingamount" remainingamount=$remainingamount}}</p>
        </td>
    </tr>
    <tr>
    	<td>
        	<p>{{trans 'To check wallet amount and transaction details of your account by <a href="%account_url">logging into your account</a>.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
