<!--@subject Wallet Recharge By {{var customername}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customername":"Customer name",
"var walletamount":"Currently added amount",
"var increment_id":"Order id used to add amount",
"var transaction_at":"Amount added at",
"var store":"store",
"var remainingamount":"Toatl amount remained in customer account"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello Admin, "}}</p>
            <p>
                {{trans "%customername have recharged his/her wallet with %walletamount" customername=$customername walletamount=$walletamount}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <p>{{trans 'Order <span class="no-link">#%increment_id</span>' increment_id=$increment_id |raw}}</p>
            <p>{{trans 'Added on <span class="no-link">%transaction_at</span>' transaction_at=$transaction_at |raw}}</p>
            <p>{{trans "Total remaining amount in his/her wallet %remainingamount" remainingamount=$remainingamount}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
