<?xml version="1.0"?>
<!--
 /**
 * @category  Mageants VoiceSearch
 * @package   Mageants_VoiceSearch
 * @copyright Copyright (c) 2018 mageants
 * @author Mageants Team <info@mageants.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mageants_VoiceSearch::configuration" title="Mageants Voice Search" sortOrder="50"></resource>
                        </resource>
                    </resource>
                </resource>
			</resource>
        </resources>
    </acl>
</config>