<?xml version="1.0"?>
<!--
/**
 * @category Mageants Voice Search
 * @package Mageants_VoiceSearch
 * @copyright Copyright (c) 2017 Mageants
 * @author Mageants Team <support@mageants.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Mageants_VoiceSearch" setup_version="2.0.0" />
</config>