<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Walletsystem
 * @author    Webkul
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="website_save_after">
        <observer name="webkul_walletsystem_website_save_after" instance="Webkul\Walletsystem\Observer\WebsiteSaveAfter"/>
    </event>
    <event name="customer_delete_commit_after">
        <observer name="webkul_walletsystem_customer_delete_commit_afterr" instance="Webkul\Walletsystem\Observer\CustomerDeleteCommitAfter"/>
    </event>
</config>
