<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MageWorx\RewardPoints\Model\EventStrategyFactory">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="import" xsi:type="string">MageWorx\RewardPointsImportExport\Model\EventStrategy\ManualUpdateStrategy\ImportStrategy</item>
            </argument>
        </arguments>
    </type>
</config>