<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mageworx_countdowntimersbase_assign_by_cron">
        <observer name="mageworx_countdowntimersbase_assign_product_by_cron_observer" instance="MageWorx\CountdownTimersBase\Observer\AssignByConditionObserver"/>
    </event>
</config>