<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="core_collection_abstract_load_after">
        <observer name="mageworx_xreviewbase_add_media_to_review_collection"
                  instance="MageWorx\XReviewBase\Observer\AddMediaToReviewCollectionObserver"
        />
        <observer name="mageworx_xreviewbase_add_location_text_to_review_collection"
                  instance="MageWorx\XReviewBase\Observer\AddLocationTextToReviewCollectionObserver"
        />
        <observer name="mageworx_xreviewbase_find_statistics_review_collection"
                  instance="MageWorx\XReviewBase\Observer\FindStatisticsByReviewCollectionObserver"
        />
    </event>
    <event name="controller_action_predispatch_review_product_post">
        <observer name="mageworx_xreviewbase_modify_customer_sent_data"
                  instance="MageWorx\XReviewBase\Observer\ModifyCustomerDataOnSavingObserver"
        />
    </event>
    <event name="layout_generate_blocks_after">
        <observer name="mageworx_xreviewbase_remove_review_list_block"
                  instance="MageWorx\XReviewBase\Observer\RemoveReviewListBlockFromFWPageObserver"
        />
    </event>
    <!-- Add media data to review on review loading -->
    <event name="review_load_after">
        <observer name="mageworx_xreviewbase_review_add_media" instance="MageWorx\XReviewBase\Observer\AddMediaOnReviewLoadingObserver" />
    </event>
</config>
