<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpmembership
 * @author    Webkul Software Private Limited
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Webkul_Marketplace::marketplace">
                    <resource id="Webkul_Mpmembership::menu" title="Seller Membership" sortOrder="10">
                        <resource id="Webkul_Mpmembership::sellertransaction" title="Membership Seller Transactions" sortOrder="13" />
                        <resource id="Webkul_Mpmembership::producttransaction" title="Membership Product Transactions" sortOrder="14" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
