<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpmembership
 * @author    Webkul Software Private Limited
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <marketplace>
            <mpmembership_settings>
                <enabled>1</enabled>
                <feeappliedfor>1</feeappliedfor>
                <type_of_fee>1</type_of_fee>
                <fee_amount>10</fee_amount>
                <transaction_completed_template>marketplace_mpmembership_settings_transaction_completed_template</transaction_completed_template>
            </mpmembership_settings>
        </marketplace>
    </default>
</config>
