<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mageworx_stock_status" frontName="mageworx_stock_status">
            <module name="MageWorx_StockStatus" before="Magento_Backend"/>
        </route>
    </router>
</config>
